/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

/* li {
	list-style: none;
} */

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	font-size: 0px;
}

body {
	line-height: 1;
}

.wrapper {
	/* min-height: 100%; */
	overflow: hidden;
}

/* ------------------------------ */

body {
	padding: 15px;
	background: 0 0 / cover url(../img/2.jpg) no-repeat;
}
.section {
	max-width: 1280px;
	margin: 0 auto;
	background-color: rgba(7, 88, 61, 0.4);
	border-radius: 3px;
	box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.8);
	margin-bottom: 10px;
	padding: 20px;
	transition: 0.5s;
}
.section:hover {
	background-color: rgba(7, 88, 61, 0.6);
}
h1.section {
	font-size: 32px;
	font-weight: 700;
	color: rgb(189, 91, 0);
	text-align: center;
	background-color: rgba(7, 88, 61, 0.6);
	padding: 30px;
}
li {
	line-height: 2;
}
a {
	font-size: 20px;
	color: rgb(20,
		20,
		20);
	font-weight: 700;
	display: block;
}
h2 {
	font-size: 20px;
	color: rgb(51, 51, 51);
	font-weight: 700;
	margin-bottom: 10px;
}
p,
span,
label,
table, 
li {
	font-size: 16px;
	font-weight: 500;
	color: rgb(20, 20, 20);
	line-height: 1.3;
}
img {
	display: block;
	border-radius: 5px;
	margin-top: 5px;
}
table,
th,
td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 10px;
}
td {
	text-align: right;
}
th {
	text-align: left;
}
caption {
	margin-bottom: 10px;
}
button {
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid green;
	color: rgb(189, 91, 0);
	font-size: 20px;
	margin-right: 25px;
	border-radius: 3px;
	box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.8);
	cursor: pointer;
	background-color: rgb(159, 190, 180);
}
button:hover {
	color: rgb(230, 230, 230);
	text-shadow: 2px 2px 5px rgba(51, 51, 51, 0.8);
}
button:active {
	box-shadow: 1px 1px 5px rgba(51, 51, 51, 0.8);
}
li {
	margin-left: 25px;
}
label {
	margin-right: 25px;
}
input {
	border: 1px solid green;
	box-shadow: 5px 5px 10px rgba(51, 51, 51, 0.8);
	padding: 3px 5px;
	font-size: 20px;
	margin: 10px 0;
}
.input {
	width: 320px;
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}
table {
	display: inline-block;
	margin-right: 20px;
}
h3 {
	margin-top: 20px;
	font-size: 20px;
}
hr {
	display: block;
	margin: 10px 0;
	border-style: inset;
	border-width: 1px;
}

.ticket-options {
	padding: 20px;
	margin: 20px 0;
	max-width: 400px;
	min-height: 300px;
}
.ticket-options h2 {
	background: rgba(255, 255, 255, 0.8);
	line-height: 1.5;
}
.ticket-options select {
	margin-bottom: 20px;
}
select {
	padding: 5px 10px;
}
.english-trainer {
	padding: 5px 5px 20px;
	border: 3px solid transparent;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.8);
	display: inline-flex;
	flex-direction: column;
	gap: 10px;
}
.english-trainer .word {
	font-size: 30px;
	justify-self: center;
}
.english-trainer input{
	margin-right: 20px;
	padding: 10px 5px;
}

.search-result {
	max-width: 652px;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
}

.search-result__header {
	display: flex;
}

.search-result__logo {
	display: flex;
	gap: 10px;
	align-items: center;
}

.search-result__image {
	border-radius: 50%;
}

.search-result__site-title {
	line-height: 1;
	margin: 0;
}

.search-result__title {
	color: #1a0dab;
	margin: 5px 0;
}

.search-result__description {
	line-height: 1;
}

.search-result__link-list {
	display: flex;
	gap: 20px;
	font-size: 14px;
}

.search-result__link {
	font-size: 16px;
	color: #1a0dab;
}

.textRed{
	color: red;
}
.textGreen {
	color: green;
}
.textBlack {
	color: black;
}
.textBlue {
	color: blue;
}

.bg-plane{
background: center / cover no-repeat url("../img/business.webp")
}
.bg-cloud{
background: center / cover no-repeat url("../img/econom.webp")
}
.border-black {
	border: 3px solid black;
}
.border-red{
	border: 3px solid red ;
}
.border-green {
	border: 3px solid green;
}

