<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../css/style.css">
	<link rel="shortcut icon" href="../../img/favicon.ico" type="image/x-icon">
	<title>Lesson 2 - Task 6</title>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
	<h1 class="section">Задача 6</h1>
	<div class="section">
		<h2>
			<p>На кухню поступають замовлення. Спочатку ми додаємо їх у список “Очікують на виконання”, якщо повар
				береться робити — замовлення переходить у список “Виконуються”, якщо замовлення виконано — переходить у список
				“Готові до виносу”. Якщо натиснути на “Подано” - страва зникає з таблиці
			</p>
		</h2>
	</div>
	<div class="section">

		<div id="app">

			<div class="order">
				<label>Нова замовлена страва:
					<input type="text" v-model.lazy.trim="newDish">
				</label>
				<button :disabled="!isDishEntered" @click="getOrder">Додати</button>
			</div>

			<div class="cooking" v-show="isCooking">

				<div class="section">
					<h6>Очікують виконання</h6>
					<div class="cooking__cell" v-for="(dish, index) in waitingList" :key="dish.id">
						<span>{{dish.title}}</span>
						<button @click="moveToProcessingList(index)">Готувати</button>
					</div>
				</div>

				<div class="section">
					<h6>Виконуються</h6>
					<div class="cooking__cell" v-for="(dish, index) in processingList" :key="dish.id">
						<span>{{dish.title}}</span>
						<button @click="moveToCompletedList(index)">Приготовлено</button>
					</div>
				</div>

				<div class="section">
					<h6>Готові до виносу</h6>
					<div class="cooking__cell" v-for="(dish, index) in completedList" :key="dish.id">
						<span>{{dish.title}}</span>
						<button @click="moveToServe(index)">Подано</button>
					</div>
				</div>

			</div>

		</div>

	</div>

	<script>
		const { createApp } = Vue;

		createApp({
			data() {
				return {
					newDish: null,
					waitingList: [],
					processingList: [],
					completedList: []
				};
			},

			methods: {
				getOrder() {
					this.waitingList.push({
						id: new Date().getTime(),
						title: this.newDish
					});
					this.newDish = null;
				},
				moveToProcessingList(index) {
					let cookingDish = this.waitingList.splice(index, 1)[0];
					this.processingList.push(cookingDish);
				},
				moveToCompletedList(index) {
					let cookedDish = this.processingList.splice(index, 1)[0];
					this.completedList.push(cookedDish);
				},
				moveToServe(index) {
					let servedDish = this.completedList.splice(index, 1)[0];
				}
			},

			computed: {
				isDishEntered() {
					return !!this.newDish;
				},
				isCooking() {
					return this.waitingList.length > 0 || this.processingList.length > 0 || this.completedList.length > 0;
				},

			},
		},

		).mount('#app')
	</script>

</body>

</html>
